@media only screen and (max-width: 768px) {
.fixed-top {    position: fixed;top: 0;    right: 0;    background: #07294d;    left: 0;    z-index: 1030;}
.navbar-toggler {    background: #ffffff38;}
.nav-link {    color: #fff !important;font-size: 15px;    font-weight: bold;    font-family: 'Comfortaa', cursive;}
.navbar-nav.me-auto.mb-2.mb-lg-0 {padding-left: 16px;}
.nav-form button {    width: 126px;    height: 41px;    border-radius: 40px;    display: none;}
.navbar-brand img {height: 34px !important;}
.navbar {    background: #07294d;    transition: 500ms ease;    padding: 16px 5px 16px !important;    box-shadow: 0 0 1px #fff;}
.banner-content h2 {    font-size: 24px !important;    line-height: 35px !important;}
.banner-content p { color: #fff !important;font-size: 11px;    line-height: 18px; width: 100%;}

.navbar-brand span {    color: #fff !important;    position: absolute;  top: 17px;    left: 54px;    font-size: 14px;}
.banner-content { padding: 0 20px 0;}
.explore {    padding: 6px 8px !important;    font-size: 14px !important;}
.appoint-inner-div p {    font-size: 12px;}
.appoint-inner-div h4 { color: #fff;    font-weight: 700;    font-size: 17px;}
.btn-know {    padding: 5px 10px !important;    font-size: 12px!important;}
.iimage i {display: none;}
.intro-title-sec h2 {    font-size: 30px;    font-weight: 900;    padding: 20px 0 6px;}
.intro-title-sec p {    text-align: justify;    font-size: 12px;    padding: 0 12px 30px;}
.img-intro-div img {width: 100%;    height: 284px;    object-position: top;    margin-bottom: 40px; margin-left: 0;}
.intro-text-div h2 {    font-size: 23px;    font-weight: 900;    letter-spacing: 1px;}
.intro-text-div p {    font-size: 13px;      text-align: justify;  padding: 10px 0 0;}
.intro-text-div {  padding: 0 20px 0 0;}
.inner-head h2 {    font-size: 22px;    font-weight: 900;}
.odd {font-size: 11px;}
.even {font-size: 11px;}
.form-inner-div {padding: 35px 20px;}
.apply-form h2 {font-size: 13px;    padding: 10px 0;}
.form-element input {    box-shadow: 0 0 11px -4px #888;padding: 5px;    margin: -1px 0 7px;    font-size: 14px;    border-radius: 4px;}
.btn-know1 {    padding: 6px 13px !important;  margin-bottom: 15px;margin-top: 10px;    font-size: 11px !important;}
.college-card .card img {height: 150px;    object-fit: cover;    object-position: top;}
.college-card .card-body .card-title {font-size: 14px;}
.college-card .card-text { font-size: 12px;    text-align: justify;}
.btn-read {    background: #ffe000 !important;    border-radius: 0 !important;    padding: 5px 8px !important;    font-size: 12px !important;}
.akash-img img { height: 180px;    object-fit: cover; width: 100%;}
.akash-img {    padding: 11px;}
.akash-text {    padding: 11px;}
.akash-sec {padding: 15px;}
.footer-sec .bottom p {    margin-bottom: 0;    line-height: 24px;    font-size: 14px;    font-weight: 400;}
.footer-sec .section-padding {padding: 25px 0;}


.login-banner-info h2 {    color: #ffffff !important; font-size: 28px;}
.login-banner {    height: 326px;background-position: right;}
.banner-content-login {    position: relative; top: 10em;}
.call-to-action .row .col-sm-12:nth-child(1) .call-box {border-radius: 20px 0px 0px 20px;   margin-bottom: 45px;}
.call-to-action .row .col-sm-12:nth-child(2) .call-box {background-color: rgba(237, 169, 0, 0.88);padding-top: 45px;    padding-bottom: 255px;   margin-top: -30px;    margin-bottom: 18px;    border-radius: 20px;}
.call-box {    background-color: rgb(7 41 77); padding: 52px 20px 160px;}
.call-box img {    margin-bottom: 18px;width: auto;    height: 75px;}
.intro-sec2 {  padding: 10px 0 20px;}
.list-box-img img {    height: 239px;    margin-top: 24px;    display: none;}
.list-3 {    padding: 0;}
.con-banner { height: 300px;    background-position: top;}

.text-sec-left h2 {    padding: 25px 0px 15px;}
.section-title h3 {font-size: 33px;}
.section-title p {    padding: 20px 0px 30px;}
#git_in_touch .container {    box-shadow: 0 0 3px #bbb;    padding: 40px 30px;}
.section-title p {    font-size: 12px;    text-align: justify;}
.git-in-touch .form-group .form-control {border: none;    border-bottom: 1px solid;    border-radius: 0;    font-weight: 300;  padding: 10px 4px;     font-size: 12px;   margin-bottom: 1.5em;}
.space-50 {    height: 0px;}
.padding-100 {    padding: 33px 13px 35px;}
}
